.browse-banner {
  display: grid;
  gap: 2rem;
  grid-template: 7rem 1fr / 15rem 1fr;
  margin: 2.5rem;
}

.browse-banner > div {
  /* border: 1px solid red; */
  background-color: var(--dark-grey);
}

.games-grid-wrapper {
  grid-row: 2/3;
}

.genre-bar-wrapper {
  grid-row: 1/3;
}

.filter-bar-wrapper {
  align-items: center;
  background-color: var(--dark-grey);
  border-radius: 1.5rem;
  display: flex;
  grid-column: 2/3;
  padding: 0 2rem;
}

.filter-bar-wrapper > div {
  display: flex;
}

.filter-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
}
