.game-banner {
  display: grid;
  gap: 2rem;
  grid-template: 2rem 33rem / 2fr 1fr;
  margin: 2rem auto auto auto;
  width: clamp(400px, 90%, 1350px);
}

/* .game-banner > * {
  border: 1px solid red;
} */

.gamepage-header {
  font-weight: 400;
  font-size: 2rem;
}

.game-banner > .carousel-slider {
  grid-column: 1/2;
}

.gamepage-infoblock {
  grid-row: 2/3;
  grid-column: 2/3;
}

.gamepage-description {
  color: var(--greyish);
  max-height: 50%;
  overflow-y: scroll;
}

.gamepage-description::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
