.game-banner {
  display: grid;
  gap: 2rem;
  grid-template: 2rem 33rem / 2fr 1fr;
  margin: 2rem auto auto auto;
  width: clamp(400px, 90%, 1350px);
}

.gamepage-header {
  font-weight: 400;
  font-size: 3rem;
}

.game-banner > .carousel-slider {
  grid-column: 1/2;
}

.gamepage-infoblock {
  grid-row: 2/3;
  grid-column: 2/3;
}

.gamepage-details {
  background-color: var(--dark-grey);
  padding: 0 1rem;
  transition: max-height 0.3s;

  max-height: 0;
  overflow: hidden;
}

.gamepage-description {
  color: var(--greyish);
  max-height: 50%;
  text-align: start;
  overflow-y: scroll;
}

.gamepage-description::before {
  content: "";
  background: linear-gradient(#1b1b1b11, var(--dark-grey) 99%);
  display: block;
  pointer-events: none;
  position: sticky;
  top: 80%;
  margin-top: -80px;
  height: 80px;
  width: 100%;
}

.gamepage-description::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.gamepage-more-btn {
  background-color: transparent;
  border: none;
  color: var(--greyish);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: 1rem;
  transition: all 0.2s;

  margin-bottom: 1rem;

  background-color: var(--dark-grey);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.gamepage-more-btn:hover {
  color: var(--white);
  font-size: 1.1rem;
}

.gamepage-tags-wrapper {
  margin-top: 1rem;
  line-height: 2.5rem;
}

.gamepage-tag {
  background-color: var(--lighter-bg);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  white-space: nowrap;
  color: var(--greyish);
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s ease-in-out;
}

.gamepage-tag:hover {
  opacity: 0.6;
}

.gamepage-tag > svg {
  margin-left: 0.5rem;
}

.gamepage-price-wrapper {
  align-items: center;
  border-radius: 1rem;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 6rem;
  margin-bottom: 1rem;
  z-index: 0;
}

.gamepage-price-wrapper > p {
  font-size: 1.4rem;
  word-wrap: normal;
  word-break: break-all;
}

.gamepage-buy-btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  height: 3rem;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.gamepage-buy-btn-added,
.gamepage-buy-btn:hover {
  background-color: var(--white);
  color: var(--primary);
}

.gamepage-buy-btn:active {
  transform: scale(0.95);
}

.gamepage-price {
  text-align: start;
  pointer-events: none;
  margin-right: 1rem;
}
