.genre-bar-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4svh 0;
}

#genre-heading {
  padding: 0 2svw;
  margin-bottom: 1rem;
}

.genre-button-label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.genre-button-label:hover {
  background-color: var(--popup-hover-color);
}

.genre-button-label > input {
  position: absolute;
  opacity: 0;
}

.genre-button-label > p {
  transition: all 0.25s;

  padding: 1rem 2rem;
}

.genre-button-label > input:checked ~ p {
  background-color: var(--lighter-bg);
}

.genre-button-label > input:checked ~ p > span {
  color: var(--primary);
}

.genre-arrow {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
