.home-banner {
  display: grid;
  grid-template: 5rem 26rem 7rem / 1fr 1fr;
  gap: 0 2svw;
  margin: auto;
  margin-top: 2rem;
  height: 600px;
  width: clamp(400px, 90%, 1200px);
  outline: 1px solid red;
}

.home-banner > div {
  display: flex;
  align-items: center;
  width: clamp(400px, 100%, 800px);
  height: 100%;
}

#banner-prefix > p {
  margin-left: 0.75rem;
}

#banner-info {
  flex-direction: column;
}

#banner-info > h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 4.8rem;
}

#banner-info > p {
  color: var(--greyish);
  margin: 2rem 0;

  line-height: 2rem;
}

#banner-btn-wrapper {
  align-self: flex-start;
}

.banner-btn {
  border-radius: 5rem;
  color: var(--white);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}

.banner-btn > svg {
  margin-right: 0.5rem;
}

.buy-btn {
  background-color: var(--primary);
  border: none;
  font-size: 1rem;
  padding: 1rem 3rem;
}

.buy-btn:hover {
  background-color: var(--lighter-primary);
}

.banner-btn:active {
  transform: scale(0.9);
}

.bleak-btn {
  background-color: var(--lighter-bg);
  border: none;
  font-size: 0.9rem;
  padding: 0.8rem 2rem;
  margin-left: 1rem;
}

#banner-credits {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
}

#banner-credits > h3 {
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
}

#banner-credits > div {
  align-items: center;
  display: flex;
  color: var(--greyish);
}

.credit-wrapper {
  align-items: center;
  color: var(--greyish);
  text-decoration: none;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.credit-wrapper > svg {
  margin-right: 0.5rem;
}

#home-fifth-sec-wrapper {
  grid-row: 2/4;
  grid-column: 2/3;
  max-width: 600px;
}

#carousel-header-wrapper {
  align-items: end;
  justify-content: center;
  text-transform: uppercase;
}

.carousel-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.carousel-slider {
  border-radius: 20px;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 90%;
  width: 70%;
  position: relative;
}

.carousel-slider img {
  scroll-snap-align: start;
  object-fit: cover;
  width: 100%;
}

.slider-nav {
  display: flex;
  position: absolute;
  bottom: 6.5rem;
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.75;
  margin: 0 0.2rem;
  transform: all ease-in-out 0.2s;
}

@media only screen and (max-width: 1240px) {
  #banner-info > h1 {
    line-height: 4rem;
  }

  #banner-info > p {
    margin: 0;
  }
}
