.home-banner {
  display: grid;
  grid-template: 5rem 1fr 10rem / 1fr 1fr;
  gap: 0 7svw;
  margin: auto;
  margin-top: 2rem;
  height: 80svh;
  width: clamp(400px, 90%, 1200px);
}

.home-banner > div {
  display: flex;
  align-items: center;
  width: clamp(400px, 100%, 800px);
}

#banner-prefix > p {
  margin-left: 0.75rem;
}

#banner-info {
  flex-direction: column;
  margin-bottom: 2rem;
}

#banner-info > h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4.8rem;
}

#banner-info > p {
  color: var(--greyish);
  margin: 1rem 0;

  line-height: 1.5rem;
}

#carousel {
  grid-row: 2/4;
  grid-column: 2/3;
}

.buy-btn {
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 500;
  background-color: var(--white);
  border-radius: 15px;
  font-size: 1rem;
  padding: 1rem 4rem;
  transition: all 0.2s ease-in-out;
}

.buy-btn:hover {
  background-color: var(--primary);
  color: white;
}
