.home-banner {
  align-items: center;
  display: flex;
  height: 75svh;
}

.home-banner > div {
  margin-left: 5svw;
  margin-top: 13svh;
}

.home-banner > div > h1 {
  font-size: 5.3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.buy-btn {
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 500;
}

.buy-btn {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 15px;
  font-size: 1rem;
  padding: 1rem 4rem;
  transition: all 0.2s ease-in-out;
}

.buy-btn:hover {
  background-color: var(--lighter-accent);
}
