:root {
  --white: #ecebf9;
  --greyish: #979797;
  --primary: #c94fc5;
  --lighter-primary: #e574e1;
  --bg: #0f0f0f;
  --lighter-bg: #2c2c2c;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

body {
  color: var(--white);
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  height: 100svh;
}

#root {
  height: 100%;
}

.highlight {
  background-color: var(--primary);
  border-radius: 3rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
